/* .example-card {
  max-width: 400px;
} */

/* .example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
} */
.btn{
background-color:#88570e;
width: 100px;
}
.card{
  border-radius: 20px;
}
.card-img-top{
  width: 380px;
  height: 195px;
  margin-top: 20px;
  border-radius: 20px;
}
.btn {
  font-size: 15px;
  width: 100px;
  height: 35px;
  border-color: #88570e;
  margin-left: 275px;
  /* padding-bottom: 25px; */
}
.card-text{
  font-size: x-small;
  width: 380px;
  height: 40px;
}
